nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo{
    background-color: var(--background-logo);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: x-large;
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    li{
        cursor: pointer;

    }
}
